<ion-view hide-nav-bar="true" class="signup-background">
	<ion-content has-header="false" ng-controller="loginCtrl">
		<img style="display: block;margin-left: auto;margin-right: auto" ng-src="img/logo.png" />
		<br>
		<div class="row">
			<div class="col">
				<label class="item item-input">
					<input type="text" placeholder="Username" ng-model="pUser">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label class="item item-input">
					<input type="password" placeholder="Password" ng-model="pPass">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button class="button button-block button-positive" on-tap="actLogin()" >
					Sign In
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>